footer.style-1
  .container
    .row
      .col-md-4.col-xs-12
        span.copyright
          | Copyright &copy;
          a(href='https://shunyeka.com' target='_blank') ShunyEka Systems Private Limited
          |  2020
        span.copyright
          | Amazon Web Services, the &ldquo;Powered by AWS&rdquo; logo, Amazon, Lambda, AWS, CloudWatch, Amazon Alexa, Alexa, and EC2 are
          | trademarks of Amazon.com, Inc. or its affiliates in the United States and/or other countries.
      .col-md-4.col-xs-12
        .footer-social.text-center
          ul
            li
              a(href=s_media.twitter target='_blank')
                i.fa.fa-twitter
            li
              a(href=s_media.facebook target='_blank')
                i.fa.fa-facebook
            li
              a(href=s_media.linkedin target='_blank')
                i.fa.fa-linkedin
      .col-md-4.col-xs-12
        .footer-link
          ul.pull-right
            li
              a(href='https://blog.example.com' target='_blank') Blog
            li
              a(href='/o/privacy-policy.html') Privacy Policy
            //
              <li>
              <a href="#">Terms of Use</a>
              </li>
#loader
  .message
    h3
  .spinner
    .dot1
    .dot2

script(src='//code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
script(src='//unpkg.com/@coreui/coreui/dist/js/coreui.min.js')
script(src=asset_base_path+'js/config.js')
script(src=asset_base_path+'js/common-lib.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js' integrity='sha256-WRc/eG3R84AverJv0zmqxAmdwQxstUpqkiE+avJ3WSo=' crossorigin='anonymous')
