// Collect the nav links, forms, and other content for toggling
#main-menu.collapse.navbar-collapse(style='padding:10px 0 0;margin-right:0')
  ul.nav.navbar-nav.navbar-right.ml-auto.mt-2.mt-lg-0
    li.hidden
      a(href='#page-top')
    li.nav-item
      a.nav-link.page-scroll.py-1(href=base+'index.html#demo' data-target="#demo") Why autobotAI
    li.nav-item
      a.nav-link.page-scroll.py-1(href=base+'index.html#feature' data-target="#feature") Feature
    li.nav-item
      a.nav-link.page-scroll.py-1(href=base+'index.html#benefits' data-target="#benefits") Benefit
    //- li.nav-item
    //-   a.nav-link.page-scroll.py-1(href=base+'index.html#pricing' data-target="#pricing") Pricing         
    li.nav-item
      a.nav-link.page-scroll.py-1(href=base+'index.html#contact' data-target="#contact") Contact Us
    li.nav-item
      a.nav-link.py-1(href='/o/user-guide.html' data-target="#user-guide") Documentation
    li.nav-item
      a.nav-link.py-1(href='https://blog.example.com' target='_blank') Blog
    li.nav-item.d-block.d-sm-none
      a.nav-link.btn.btn-sm.btn-primary.px-3.py-1.mx-2(href='/o/auth.html') Login
    li.nav-item.d-block.d-sm-none
      a.nav-link.btn.btn-sm.btn-success.px-2.py-1.mx-2.mt-2.mt-xl-0(href='/o/auth.html') Free Trial
ul.nav.navbar-nav.navbar-right.ml-auto.mt-xl-2.d-none.d-sm-block
  li.nav-item
    a.nav-link.btn.btn-sm.btn-primary.px-2.py-1.mx-md-2(href='/o/auth.html') Login
ul.nav.navbar-nav.navbar-right.mt-xl-2.ml-1.ml-xl-auto.d-none.d-sm-block
  li.nav-item
    a.nav-link.btn.btn-sm.btn-success.px-2.py-1.mx-md-2(href='/o/auth.html') Free Trial
// /.navbar-collapse
